# This is a basic workflow to help you get started with Actions

name: CI
env:
  APPLICATION_NAME: "architecture-and-design-patterns"
  PACKAGE_NAME: "architecture-and-design-patterns-ver-${{ github.sha }}"

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ all ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch: 

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # Как таски в Jenkins
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo "Start buid project ${{env.APPLICATION_NAME}}"

      # Runs a set of commands using the runners shell
      - name: Build with Maven
        run: mvn clean package
